*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background: linear-gradient(to right, rgb(64, 22, 128), rgb(74, 9, 164));
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 124px;
    font-size: 13px;
    line-height: 20px;
}

.wrapper-main{
    width: 100%;
    margin: 0 auto;
}

.footer-main-content{
    width: 85%;
    margin: auto;
    display: flex;
     justify-content: space-between;
    align-items: flex-start;

}

.footer-logo{
    flex-basis: 25%;
    padding: 10px;
}

.footer-logo a{
   text-decoration: none;
   font-size: 18px;
   color: #fff;
   width:80px;
   margin-bottom: 30px;

}

.footer-logo p{
    font-size: 15px;
    color: #fff;
    flex-basis: 25%;
    margin-top: 10px;

 
 }

 .footer-Office{
    flex-basis: 25%;
    padding: 10px;
 }

 .footer-Office h2{
    width: fit-content;
    font-size: 18px;
    color: #fff;
  
 }

 .footer-Office p{
    font-size: 15px;
    color: #fff;
    flex-basis: 23px;
    flex-wrap: wrap;
    margin-top: 10px;
    line-height: 20px;
 
  
 }

 .footer-Links{
    flex-basis: 25%;
    padding: 10px;
 
 }

 .footer-Links h2{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
 
 }

 .footer-Links ul {
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    list-style: none;
 }

 .footer-Links ul a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
 }
 .footer-Links ul a:hover {
    
    color:red;
 
 }

 .footer-Newsletter{
    flex-basis: 25%;
    padding: 10px;
 
 }
 .footer-Newsletter h2{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin:0 0 20px;
 }

 form{
   padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-self:space-between ;
    justify-self: center;
    margin-bottom: 50px;
 }

 .footer-Newsletter input{
   width: 100%;
   background-color: transparent;
   color: #ccc;
   border: 0;
   outline: 0;
 }

 .footer-Newsletter i{
    outline-style: none;
    outline-width: none;
    width: fit-content;
    height: fit-content;
 }

 hr{
    width: 100%;
    margin: 23px 0;
 }

.social-media .fa {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
   color: #000;
   background-color: #fff;
   margin:15px;
   cursor: pointer;
}